numpy
pandas
matplotlib
seaborn
torch==2.6.0
torcheval
torchinfo==1.7.2
torchvision==0.21.0
tqdm
jupyterlab
ipynb
onnx==1.13
tdigest
git+https://github.com/eml-eda/plinio.git@main#egg=plinio
git+https://github.com/eml-eda/pytorch-benchmarks.git@main#egg=pytorch_benchmarks
